{% load static %}



<link href="{% static 'css/main.css' %}" rel="stylesheet" />
<link href="{% static 'css/datatables.min.css' %}" rel="stylesheet" />
<link href="{% static 'css/toastr.min.css' %}" rel="stylesheet" />
<link href="{% static 'css/select2.min.css' %}" rel="stylesheet" />

<script src="{% static 'js/datatables.min.js' %}"></script>
<script src="{% static 'js/tailwind.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/hooks.js' %}"></script>
<script src="{% static 'js/chart.umd.js' %}"></script>
<script src="{% static 'js/toastr.min.js' %}"></script>
<script src="{% static 'js/select2.min.js' %}"></script>

<link rel="icon" type="image/x-icon" href="{% static 'images/mn.ico' %}">